body {
    margin: auto;
    text-align: center;
}

form {
    background-color: aqua;
    align-self: center;
    justify-items: center;
}

div {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}